.sidebar {
    background-color: #201F24;
    border-radius: 0 16px 16px 0;
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.view {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    width: 100%;
}
.logo {
    margin: 30px;
    height: 25px;
}
.nav {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nav a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px; 
    
    font-weight: 900;
    padding-left: 25px;
    border-radius: 0 12px 12px 0;
    font-size: 16px;
    color:#B3B3B3;
    border-left:3px solid transparent ;
}
.nav a img {
    width: 17px;
}
.nav a.active img {
    width: 23px;
}
.nav a.active {
    background-color: #F8F4F0;
    border-left: 3px solid #277C78;
    color: #201F24;
    gap: 10px;
}
.minimize {
    font-size: 16px;
    color:#B3B3B3;
    font-weight: 900;
    padding: 30px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
}
.sb {
    width: 6%;
    height: 100%;
    background-color: #201F24;
    border-radius: 0 16px 16px 0;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sb img {
    cursor: pointer;
    transform:rotate(180deg);
}