.page {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 20px;
    background-color: #F8F4F0;
}
.hero {
    width: 35%;
    background-image: url('/assets/images/illustration-authentication.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    justify-content: end;
    gap: 24px;
    padding: 40px;
    border-radius: 12px;
}
.hero h2 {
    color: white;
}
.hero p {
    color: white;
}
.auth {
    width: 560px;
    background-color: white;
    height: fit-content;
    margin: auto;
    padding: 32px;
    border-radius: 12px;
}
.auth h1 {
    margin-bottom: 32px;
}
.auth form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.signal {
    text-align: end;
    font-weight: 400;
}
.auth form label {
    display: flex;
    flex-direction: column;
    color: #696868;
    font-size: 12px;
    gap: 3px;
    font-weight: 600;
}
.auth form input:focus {
    outline: none;
}
.input {
    border-radius: 8px;
    border: 1px solid #98908B;
    padding: 12px 20px;
    font-size: 16px;
}
.password {
    border-radius: 8px;
    border: 1px solid #98908B;
    display: flex;
    gap: 10px;

}
.password img {
    width: 20px;
    cursor: pointer;
    margin-right: 10px;
}
.password input {
    padding: 12px 20px;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 8px;
}
.auth form button {
    font-size: 14px;
    background-color: #201F24;
    color: white;
    padding: 16px;
    border-radius: 8px;
    border: none;
    margin-top: 16px;
    margin-bottom: 32px;
    font-weight: bold;
    font-family: var(--font-public-sans);
}

.error {
    text-align: center;
    color: rgb(170, 32, 32);
    margin-bottom: 10px;
}
.link {
    text-align: center;
    color: #696868;

}
.link a{
    color: #201F24;
    text-decoration: underline;
}
.logo {
    position: absolute;
    top: 40px;
    left: 40px;
}